@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './views/layouts/navigation.css';
@import './views/layouts/login.css';
@import './controls/controls.css';

.max-h-100 {
    max-height: 26rem;
}

* {
    box-sizing: border-box;
}

.page-container {
    position: relative;
}

.content-wrap {
    padding-bottom: 72px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tab-option.active {
    background: white;
}
.tab-option.active:hover {
    color: currentColor;
}