.accordion {
    margin: 0.5rem;
}

.accordion__title {
    transition: 0.5s;
    border-bottom: 2px solid gray;
}

.accordion.open .accordion__title {
    /* border-bottom: 2px solid gray; */
}

.arrow {
    /* display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s; */
}

.accordion.open .arrow {
    transform: rotate(-180deg);
}

.accordion__content {
    /* transition: 0.5s;
    height: 0; */
}
.notification-count-bubble {
    border-radius: 100%;
    width: 22px;
    height: 22px;
    position: absolute;
    right: -2px;
    top: -8px;
    background-color: #ff5959;
}

.notification-count-bubble span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: small;
    transform: translate(-50%, -50%);
}

.toast {
    background-color: white;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: -1rem;
    opacity: 1;
    transition: opacity 0.10s, transform 0.15s;
    transition-timing-function: ease-in-out;
    transform-origin: center center;
    width: 25rem;
}

.hide-toast {
    opacity: 0;
    transform: scale(0);
}



