.toast {
    background-color: white;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: -1rem;
    opacity: 1;
    transition: opacity 0.10s, transform 0.15s;
    transition-timing-function: ease-in-out;
    transform-origin: center center;
    width: 25rem;
}

.hide-toast {
    opacity: 0;
    transform: scale(0);
}
